/* CSS for main container */
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 20px;
  font-family: 'Trebuchet MS', sans-serif;
}

/* CSS for top bar */
.topBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.input {
  padding: 10px;
  border-radius: 5px;
  color: #333;
  margin-right: 10px;
  
}

.button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #0070f3;
  color: white;
  cursor: pointer;
}

/* CSS for main bar */
.mainBar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f2f2f2;
  width: 450px;
  height: 350px;
  border-radius: 15px;
  padding: 20px;
}

.celsiusBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.locationH1 {
  font-size: 48px;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}

.locationTemp {
  font-size: 24px;
  margin: 0;
  text-align: center;
}

.humidityBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0070f3;
  color: #f2f2f2;
  width: 200px;
  height: 200px;
  border-radius: 15px;
}

.nemOran {
  font-size: 48px;
  margin: 0;
  margin-bottom: 10px;
}

.nemH1 {
  font-size: 24px;
  margin: 0;
}

/* Additional CSS for global styles */
html,
body {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #333;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 380px) {
  .app {
    padding: 0 10px;
  }

  .mainBar{
width: 300px;
height: 200px;

  }
  .humidityBar{
    width: 140px;
    height: 140px;

  }
  .locationH1 {
    font-size: 36px;
  }

  .locationTemp {
    font-size: 18px;
  }

  .nemOran {
    font-size: 36px;
  }

  .nemH1 {
    font-size: 18px;
  }
}

@media (max-width: 420px) {
  .app {
    padding: 0 10px;
  }

  .mainBar{
width: 300px;
height: 200px;

  }
  .humidityBar{
    width: 140px;
    height: 140px;

  }
  .locationH1 {
    font-size: 36px;
  }

  .locationTemp {
    font-size: 18px;
  }

  .nemOran {
    font-size: 36px;
  }

  .nemH1 {
    font-size: 18px;
  }
}